
/**************
  * GENERAL CSS *
  **************/
 
  body {
    background: #EEE url("http://orig08.deviantart.net/46b5/f/2014/159/3/b/mega_charizard_x_wallpaper_3_by_glench-d7liatl.png") no-repeat left top;
  }

 .button{background:#3399FF!important;border:solid 1px blue!important}
          
 
  .astext{
    border: none;
    background: none;
    padding:0;
    height: -20em;
    font-family:Verdana,sans-serif;
    font-size: 12px;
    cursor: pointer;
  }
 
  .broadcast-blue {
    background-color: #B3E6FF;
    border: 1px solid #0B1361;
    color: #0B1361;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: 5px;
    text-shadow: 0px -1px 0px #D7F2FF;
  }
 
  .broadcast-blue a {
    color: #0B1361;
  }
 
  .broadcast-red {
    background-color: #FFB3B3;
    border: 1px solid #610B0B;
    color: #610B0B;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: 5px;
    text-shadow: 0px -1px 0px #FFD7D7;
  }
 
  .broadcast-red a {
    color: #610B0B;
  }
 
  .broadcast-green {
    background-color: #C3FFB3;
    border: 1px solid #19610B;
    color: #19610B;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: 5px;
    text-shadow: 0px -1px 0px #D8FFD7;
  }
 
  .broadcast-green a {
    color: #19610B;
  }
 
  .textbox, .textbox:hover, .textbox:focus {
    border: 1px solid #252F3F;
    box-shadow: none !important;
  }
 
  .closebutton, .minimizebutton {
    color: #413B45;
  }
 
  .closebutton:hover, .minimizebutton:hover {
    color: #000;
  }
 
  button {
    background-color: #EEE;
    border: 1px solid #AAA;
  }
 
  button:hover {
    border: 1px solid #777;
  }
 
  .infobox {
    border: 1px solid #0B1361;
    padding: 6px 6px;
    background: rgba(255, 255, 255, 0.3);
  }
 
  .chat-log a, .pm-log a {
    color: #0500A5;
  }
 
  .chat-log a:visited, .pm-log a:visited {
    color: #162055;
  }
 
  .userlist {
    background: rgba(178, 223, 247, 0.45);
    border-right: 1px solid #252F3F;
  }
 
  .userlist li {
    background-color: rgba(244, 244, 244, 0.8);
    border-bottom-color: #AAA;
  }
  
  .userlist li button:hover {
    background: rgba(255, 255, 255, 0.8);
  }
 
  .userlist li em.group {
    color: #252F3F;
  }
 
  .chat-log {
    background: url("http://i.imgur.com/DJPWeZ2.png") top right no-repeat rgba(235, 235, 235, 0.785);
  }
 
  .chat-log-add {
    background: rgba(178, 223, 247, 0.45);
    border-top: 1px solid #252F3F;
  }
 
 
  .header {
    height: 50px;
    background: rgba(178, 223, 247, 0.85) url("http://images.cooltext.com/4474861.png") no-repeat bottom left;
    }
 
  .header .logo {
    opacity: 0;
  }
 
  .maintabbarbottom {
    background: #0099CC;
    border: 1px solid #808080;
  }
 
  .tabbar a.button.notifying {
    background: #00E2DB;
    border-color: #00FFFF;
    color: #00FFFF;
    text-shadow: none;
  }
 
  .tabbar a.button.notifying:hover {
    background: #00DAD2;
    border-color: #00FFFF;
    color: #00FFFF;
  }
 
  .tabbar a.button.cur, .tabbar a.button.cur:hover {
    background: #0099CC;
    border: 1px solid #413B45;
    color: #413B45;
    text-shadow: none;
  }
 
  .tabbar a.button {
    border: 1px solid #413B45;
    background: #3399FF;
    color: #413B45;
    text-shadow: none;
  }
 
  .tabbar a.button:hover {
    border: 1px solid #413B45;
    background: #FFCC99;
    color: #413B45;
    text-shadow: none;
  }
 
  .tabbar a.button.subtle-notifying {
    color: #336E4E;
  }
 
  .tabbar a.button.subtle-notifying:hover {
    border-color: #336E4E;
  }
 
  .userbar button.icon {
    background: #EEE;
    border: 1px solid #AAA;
    padding: 0px 4px 2px 4px;
  }
 
  .userbar button.icon:hover {
    background: #EEE;
    border: 1px solid #777;
  }
 
  .ps-popup {
    background: #DDD;
    border: 1px solid #AAA;
  }
 
  .credits h2 {
    color: #2D3459;
  }
 
  a.subtle, .credits ul li p, .credits ul {
    color: #37348E;
  }
 
  .popupmenu h3 {
    color: #1E2C28;
  }
 
  .ps-popup a, .ps-popup a.ilink {
    color: #37348E;
  }
 
  .ps-popup a.ilink:hover {
    color: #433FB9;
  }
 
  .avatarlist button {
    border: 1px solid #777;
  }
 
  .avatarlist button:hover {
    border: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.4);
  }
 
  .ps-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
 
  .ps-popup .buttonbar button {
    background: #EEE;
    border: 1px solid #AAA;
    padding: 2px 4px;
  }
 
  .ps-popup .buttonbar button:hover {
    background: #EEE;
    border: 1px solid #777;
  }
  .ps-room.ps-room-opaque {
    background: rgba(178, 223, 247, 0.7);
  }
 
  .ps-room .battle-controls {
    background: rgba(0, 0, 0, 0);
  }
 
  .battle-log {
    background: url("http://i.imgur.com/vIYclIh.png");
    border-color: #413B45;
  }
 
  .message-error {
    border: 1px solid #413B45;
    background: #ECB3B4;
    color: #413B45;
    margin-bottom: 1px;
  }
 
  .battle-log .chat {
    padding: 3px 1px;
  }
 
  .battle-log h2 {
    text-align: right;
    font-style: italic;
    border-color: #413B45;
    background: #FABCBC;
    color: #413B45;
  }
 
  .battle-log-add {
    background: #FABCBC;
    border: 1px solid #413B45;
    color: #413B45;
  }
 
  .battle {
    border-color: #413B45;
  }
 
  .battle-log .rated strong {
    background: #2D3459;
  }
 
  .battle-log .chat strong {
    color: #2D3459;
  }
 
  .rightbar, .leftbar {
    border-color: #413B45;    
    background: rgba(206, 234, 250, 0.5);
  }
 
  .trainer strong {
    color: #413B45;
  }
 
  .trainer div {
    opacity: 1;
  }
 
  .turnstatus-protect {
    background:url(http://i.imgur.com/RVxCoHz.png);
    opacity:1!important;
    height:103px!important;
    width:150px!important;
    border-radius:0;
    border-width:0;
    box-shadow:none;
    opacity:0.9;
  }
 
  .sidecondition-safeguard {
    background:url(http://i.imgur.com/FrCoWCW.png);
    opacity:0.6!important;
    height:90px!important;
    width:130px!important;
    border-radius:0;
    opacity:0.9;
    border-width:0;
    box-shadow:none;
  }
 
  .sidecondition-reflect {
    background:url(http://i.imgur.com/X1XDxVB.png);
    opacity:0.7!important;
    height:90px!important;
    width:130px!important;
    border-radius:0;
    border-width:0;
    opacity:0.9;
    box-shadow:none;
  }
 
  .sidecondition-lightscreen {
    background:url(http://i.imgur.com/8eLftNA.png);
    opacity:0.6!important;
    height:90px!important;
    width:130px!important;
    opacity:0.9;
    border-radius:0;
    border-width:0;
    box-shadow:none;
                    }
    .nightclub {
	background:#000;
	margin:-3px
  }
  
  .pm-window h3 {
    border-color: #3399FF;
    background: rgb(51, 204, 255) url("") bottom right no-repeat;
    background-position: 200px;
    color:  #3399FF;
    text-shadow: 0px -1px 0px #3399FF;
  }
  
  .pm-window h3:hover {
    background: rgb(51, 204, 255) url("") bottom right no-repeat;
    background-position: 200px;
    color: #3399FF;
  }
  
  .pm-window h3 small {
    color: #3399FF;
  }
  
  .pm-window.focused h3, .pm-window.focused h3:hover {
    border-color: #3399FF;
    background: rgb(51, 204, 255) url("") bottom right no-repeat;
    background-position: 200px;
    color: #3399FF;
    text-shadow: 0px -1px 0px #0066FF;
  }
  
  .pm-window h3:hover .minimizebutton, .pm-window h3 .closebutton, .pm-window h3 .minimizebutton {
    color:  #CCFFFF;
  }
  
  .pm-window h3 .closebutton:hover {
    color:#CCFFFF;
  }
  
  .pm-window h3 .minimizebutton:hover {
    color: #CCFFFF;
  }
  
  .pm-window h3 .closebutton:hover + .minimizebutton {
    color: #CCFFFF !important;
  }
  
  .message-pm {
    color:  #000000;
  }
  
  .pm-window h3.pm-notifying {
    border-color: #0099FF;
    background: #00FFFF;
    color: #0099FF;
    text-shadow: none;
  }
  
  .pm-window h3.pm-notifying:hover {
    background: #CCFFFF;
  }
  
  .pm-window h3.pm-notifying small {
    color:  #000000;
  }
  
  .pm-window h3.pm-notifying .closebutton, .pm-window h3.pm-notifying .minimizebutton {
    color:#000000;
  }
  
  .pm-window h3.pm-notifying .closebutton:hover {
    color: #000000;
  }
  
  .pm-window h3.pm-notifying .minimizebutton:hover {
    color: #000000;
  }
  
  .pm-window h3.pm-notifying .closebutton:hover + .minimizebutton {
    color: #000000 !important;
  }
  
  .pm-log, .pm-window.focused .pm-log {
    border-color: #000000;
  }
                    
  
  #lobby-userlist-user-steelchar, #staff-userlist-user-steelchar, #tournaments-userlist-user-steelchar, #femalehq-userlist-user-steelchar, #shadowbanroom-userlist-user-steelchar {
                background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokecons_action/006.gif") right no-repeat;

  }
  
  #lobby-userlist-user-pkkraze, #staff-userlist-user-pkkraze, #shadowbanroom-userlist-user-pkkraze, #portugus-userlist-user-pkkraze, #casino-userlist-user-pkkraze {
        background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokecons_action/282.gif") right no-repeat;

  }
  
  #lobby-userlist-user-darkero, #staff-userlist-user-darkero, #shadowbanroom-userlist-user-darkero, #tournaments-userlist-user-darkero, #casino-userlist-user-darkero {
        background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokecons_action/121.gif") right no-repeat;

  }
  
  #lobby-userlist-user-noivernx60, #staff-userlist-user-noivernx60, #shadowbanroom-userlist-user-noivernx60, #noivernsroost-userlist-user-noivernx60 {
        background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokexycons/715.png") right no-repeat;


  }
  
  #lobby-userlist-user-nerderator, #staff-userlist-user-nerderator, #shadowbanroom-userlist-user-nerderator, #noivernsroost-userlist-user-nerderator, #shadowleague-userlist-user-nerderator {
        background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokecons_action/310.gif") right no-repeat;


  }
  
  #lobby-userlist-user-thundernyan, #staff-userlist-user-nerderator, #shadowbanroom-userlist-user-thundernyan, #noivernsroost-userlist-user-thundernyan, #thunderleague-userlist-user-thundernyan {
        background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokexycons/595.png") right no-repeat;


  }
  
  #lobby-userlist-user-vintro, #staff-userlist-user-vintro, #shadowbanroom-userlist-user-vintro {
  	background: rgba(244, 244, 244, 0.8) url(http://orig14.deviantart.net/c6c3/f/2015/254/c/e/mega_scizor_icon_by_commander_f-d9963qx.gif) right no-repeat;
  	
  }
  
  #lobby-userlist-user-vvva, #staff-userlist-user-vvva, #shadowbanroom-userlist-user-vvva, #casino-userlist-user-vvva {
        background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokecons_action/491.gif") right no-repeat;


  }
  
  #lobby-userlist-user-senhora, #portugus-userlist-user-senhora {
        background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokecons_action/359.gif") right no-repeat;


  }
  
  #lobby-userlist-user-iriseevee, #staff-userlist-user-iriseevee, #shadowbanroom-userlist-user-iriseevee, #roleplaying-userlist-user-iriseevee {
        background: rgba(244, 244, 244, 0.8) url("http://piskel-imgstore-b.appspot.com/img/2865e6c0-714a-11e5-bcd0-453773bed636.gif") right no-repeat;


  }
  
  #lobby-userlist-user-example1203, #staff-userlist-user-example1203, #shadowbanroom-userlist-user-example1203, #shadowleague-userlist-user-example1203, #casino-userlist-user-example1203 {
        background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokecons_action/385.gif") right no-repeat;


  }
  
  #lobby-userlist-user-hypershaymin, #casino-userlist-user-hypershaymin, #tournaments-userlist-user-hypershaymin {
        background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokecons_action/492-sky.gif") right no-repeat;


  }
  
  #lobby-userlist-user-gabriell12pb, #casino-userlist-user-gabriell12pb, #tournaments-userlist-user-gabriell12pb, #sociedadedivina-userlist-user-gabriell12pb, #torneios-userlist-user-gabriell12pb {
        background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokecons/643.png") right no-repeat;




                    }


.userlist li button:hover {
	background:rgba(244, 244, 244, 0.5)
}

  #lobby-userlist-user-iriseevee, #staff-userlist-user-iriseevee, #shadowbanroom-userlist-user-iriseevee, #roleplaying-userlist-user-iriseevee { 
    background: rgba(244, 244, 244, 0.8) url("http://piskel-imgstore-b.appspot.com/img/007cc11c-8110-11e5-aace-4fffcba36cdb.gif") right no-repeat;
  }

  #lobby-userlist-user-knightchar, #staff-userlist-user-knightchar, #shadowbanroom-userlist-user-knightchar, #tournaments-userlist-user-knightchar, #roleplaying-userlist-user-knightchar, #casino-userlist-user-knightchar, #shadowleague-userlist-user-knightchar { 
    background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokecons_action/448.gif") right no-repeat;
  }


  #lobby-userlist-user-natm, #staff-userlist-user-natm, #shadowbanroom-userlist-user-natm { 
    background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokexycons/359-mega.png") right no-repeat;
  }

  #lobby-userlist-user-clawliet, #littlecup-userlist-user-clawliet, #theartbotshop-userlist-user-clawliet { 
    background: rgba(244, 244, 244, 0.8) url("http://pldh.net/media/pokecons_action/446.gif") right no-repeat;
  }

  #lobby-userlist-user-ggdaca, #staff-userlist-user-ggdaca, #shadowbanroom-userlist-user-ggdaca { 
    background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokexycons/257-mega.png") right no-repeat;
  }

  #lobby-userlist-user-firestatics, #staff-userlist-user-firestatics, #hydrocity-userlist-user-firestatics { 
    background: rgba(244, 244, 244, 0.8) url("http://www.pokestadium.com/sprites/xy/charizard-3.gif") right no-repeat;
  }

  #lobby-userlist-user-firestatics, #staff-userlist-user-firestatics, #shadowbanroom-userlist-user-firestatics { 
    background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokecons_action/006.gif") right no-repeat;
  }

  #a-userlist-user-darkero, #a-userlist-user-darkero, #a-userlist-user-darkero { 
    background: rgba(244, 244, 244, 0.8) url("aa.jpg") right no-repeat;
  }

  #lobby-userlist-user-darkero, #staff-userlist-user-darkero, #sociedadedivina-userlist-user-darkero, #tournaments-userlist-user-darkero, #shadowbanroom-userlist-user-darkero { 
    background: rgba(244, 244, 244, 0.8) url("http://pldh.net/media/pokexycons/491.png") right no-repeat;
  }

  #lobby-userlist-user-darkero, #staff-userlist-user-darkero, #shadowbanroom-userlist-user-darkero, #sociedadedivina-userlist-user-darkero, #tournaments-userlist-user-darkero { 
    background: rgba(244, 244, 244, 0.8) url("http://pldh.net/media/pokemon/gen4/overworld/shiny_frontf2/491.png") right no-repeat;
  }

  #lobby-userlist-user-darkero, #staff-userlist-user-darkero, #shadowbanroom-userlist-user-darkero, #sociedadedivina-userlist-user-darkero, #tournaments-userlist-user-darkero { 
    background: rgba(244, 244, 244, 0.8) url("http://pldh.net/media/pokemon/gen4/overworld/frontf2/493.png") right no-repeat;
  }

  #lobby-userlist-user-darkero, #staff-userlist-user-darkero, #shadowbanroom-userlist-user-darkero, #sociedadedivina-userlist-user-darkero, #tournaments-userlist-user-darkero { 
    background: rgba(244, 244, 244, 0.8) url("http://pldh.net/media/pokemon/gen4/overworld/shiny_frontf2/144.png") right no-repeat;
  }

  #lobby-userlist-user-dracostatics { 
    background: rgba(244, 244, 244, 0.8) url("http://pldh.net/media/pokecons_action/493.gif") right no-repeat;
  }
